/* Credit: Code Institute Tutorial */
/* @import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300'); */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:500');

/* Credit: Code Institute Tutorial */
 * {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fafafa;
}


body {
    font-family: Lato; /* Credit: Code Institute Tutorial */
    color: #555555; 
    /*
    margin-left: 1%;
    margin-right: 1%;
    */
}

/* Credit: Code Institute Tutorial */
/* Keep h2 on menu bar for now */
h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555; 
}




/* Credit: Code Institute Tutorial */
#menu {
    font-size:150%;
    list-style-type: none; /* No ul li dots */
    letter-spacing: 4px;   /* same as h2 */
}



/* Credit: Code Institute Tutorial */
#icon {
   float: left;  /* Have 2 icons Float left keeps them together */
   font-size: 280%;
   color: #555555; 
   margin-left: 30px;
}


#menu {
   float: right;
   margin-left: 30px;
}


#menu li {
    float: left; 
    margin-right: 30px; /* margin for each menu item */
}




header {
 border-bottom: 10px;
}


#icon, #menu {
    line-height: 75px; /* both icon and menu are centered inside the same height of 75px */
    text-decoration: none;
}


@media screen and (max-width: 1396px){
    /* With decreasing screen width menu is going under the icon,
    then up beside the ICON an then under it again - fix here */
     #menu {
        float: left;
        clear: left; /* Credit: Code Institute Tutorial */
    }  
}



@media screen and (max-width: 943px){

    #menu li {
        float: left;
        clear: left;   /* Credit: Code Institute Tutorial */
        line-height: 25px; /* only menu items centered inside the same height of 25px */
    }
    /* Float menu to the left on a mobile */
    #menu {
    float: left;
    }
}



/* Credit: Code Institute Tutorial */
#menu a {
    text-decoration: none; /* no underline */
    color: inherit; /*inherit from closest parent with color set */
}



#menu a:hover {
   color: #941111;
}


.active {
    border-bottom: 1px solid #777777; /* highlight active page */
}




/*---------------- Clear floats ------------*/

#clear-previous-floats {
    clear: both;  
}

/*--------------------Hero------------------*/

/* Credit: Code Institute Tutorial */
#hero-image {
    height:600px;
    width: 100%;
    /* Temporary image until an image is sourced that works with the web page */
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;
    overflow: hidden; /* image does not overflow under menu bar */
}




/*--------------------Contact------------------*/

/* Credit: Code Institute Tutorial */
#contact-sections {
    width: 100%;
}

#contact-sections > div{
  display: inline-block; /* This is needed to keep contact form inline with our location */
}

/* Credit: Code Institute Tutorial */
#left-details {
    padding-top: 30px;
    width:33%;
    float: left;
}



/* Credit: Code Institute Tutorial */
#right-map {
    padding-top: 30px;
    width:33%;
    float: right;
}


/* Credit: Code Institute Tutorial */
#middle-form {  /* this style must follow left and right styles for auto to work */
    padding-top: 30px;
    width: 34%;
    margin: 0 auto;
}

#uppercase {
    text-transform: uppercase;
}


input {
   width: 100%;
   border: 1px solid black;
}

#contact-sections h2 {
    padding-top: 30px;
    padding-bottom: 30px;    
}


#contact-sections h2, h3 {
    padding-left: 30px; 
    font-size: 150%;
}



#contact-sections #middle-form form {
    padding-left: 30px;
    padding-right: 30px;
}


div form input {
    font-size: 150%;
    margin-top: 20px;
    border-radius: 4px;
}

/* message box */
div form #message {
    height: 200px;
}


input[type=submit] { /* Credit: Code Institute Tutorial */
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div form #submit {
    float: left;
    background-color: #fafafa;
}

div form ::placeholder {
    font-size: 100%;
}


/* Mobile */
 @media screen and (max-width: 943px){
    #contact-sections div {
    clear: left;   /* Credit: Code Institute Tutorial */
    padding-top: 0px;
    width:100%;
    float: left;
    }
 }   



/*--------------------Footer------------------*/

body footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:100px; /* 3 rows of text with one ICON row, 4 X 25px = 100px.*/
    background-color:#555555; 
    color: #fafafa;
}

body footer #top { 
    width: 100%;
}

body footer #bottom { 
    width: 100%;
}



#top #footer-left {
    width: 33%;
    float: left;
}

#top #footer-right {
    width: 33%;
    float: right;
}


#top #footer-middle {
    width: 34%;
    margin: 0 auto;
}


footer div h3 {
   background-color:#555555;  
}


footer section li {
   background-color:#555555;  
}

footer section ul {
   background-color:#555555;  
}

footer #bottom ul {
    margin-right: 30px;
}
/* Footer Icons */

footer #social-media {
    float: right; 
    clear: left;   /* Credit: Code Institute Tutorial */
}

 
#social-media > li {
    display: inline;
}
 
#social-media  li i {
    color: #fafafa;
    background-color:#555555;  
}






/* Desktop */
footer #top div {
    display: inline-block;
}



/* Mobile */
 @media screen and (max-width: 943px){
    body footer {
        height:150px; /* 5 rows of text with one ICON row, 6 x 25px = 150px */
    }
    /* containers now float to the left */
    footer #top div {
        clear: left;   /* Credit: Code Institute Tutorial */
        float: left;
    }   
    /* footer-right must now float to the left */
    #top #footer-right {
        float: left;
    } 
    /* Text can now occupy full width of 98% */ 
    #top #footer-left {
    width: 98%;
    }
    #top #footer-middle {
    width: 98%;
    }
    #top #footer-right {
    width: 98%;
    }
 }

/*--------------------Table------------------*/




/*   Desktop  */

/* Hide mobile */
.mobile {
    color: #fafafa;
    column-width: 0px;  /* not working */
}



.desktop {
    color: black;
}


div > table{
    float: left;
}



/* Mobile */




@media screen and (max-width: 943px){

    .mobile {
        color:black
    }

    .desktop {
        color: #fafafa;
    }

    div > table{
        float: none;
    }


}