/* Credit: Code Institute Tutorial */
/* @import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300'); */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:500');

/* Credit: Code Institute Tutorial */
 * {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fafafa;
}


body {
    font-family: Lato; /* Credit: Code Institute Tutorial */
    color: #444444; /* Dark colour gives a stronger contrast */
    margin-left: 1%;
    margin-right: 1%;
    height: 900px;
}

/* Credit: Code Institute Tutorial */
/* Keep h2 on menu bar for now */
h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555; /*Darker than Charcoal */
}




/* Credit: Code Institute Tutorial */
#menu {
    font-size:150%;
    list-style-type: none; /* No ul li dots */
    letter-spacing: 4px;   /* same as h2 */
}



/* Credit: Code Institute Tutorial */
#icon {
   float: left;  /* Have 2 icons Float left keeps them together */
   font-size: 280%;
   color: #555555; /*Darker than Charcoal */
   margin-left: 30px;
}

/* Menu items floated to the right from the start of the list so the list ends up in reverse order */
#menu li {
   float: right;
   margin-right: 30px; /* margin for each menu item */
}

header {
 border-bottom: 10px;
}



#icon, #menu {
    line-height: 75px; /* both icon and menu are centered inside the same height of 75px */
    text-decoration: none;
}

/* Credit: Code Institute Tutorial */
#menu a {
    text-decoration: none; /* no underline */
    color: inherit; /*inherit from closest parent with color set */
}

#menu a:hover {
   color: #941111;/
}


.active {
    border-bottom: 1px solid #777777; /* highlight active page */
}

#clear-previous-floats {
    clear: both;  
}

/*--------------------Hero------------------*/

/* Credit: Code Institute Tutorial */
#hero-image {
    height:600px;
    width: 100%;
    /* Temporary image until an image is sourced that works with the web page */
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;
    overflow: hidden; /* image does not overflow under menu bar */
}




/*--------------------Contact------------------*/

/* Credit: Code Institute Tutorial */
#contact-sections {
    height: 700px;
    width: 100%;
}

#contact-sections > div{
  display: inline-block; /* This is needed to keep contact form inline with our location */
}

/* Credit: Code Institute Tutorial */
#left-details {
    padding-top: 30px;
    width:33%;
    float: left;
    background-color: red;
}



/* Credit: Code Institute Tutorial */
#right-map {
    padding-top: 30px;
    width:33%;
    float: right;
    background-color: orange;
}


/* Credit: Code Institute Tutorial */
#middle-form {  /* this style must follow left and right styles for auto to work */
    padding-top: 30px;
    width: 34%;
    margin: 0 auto;
    background-color: green;
}

#uppercase {
    text-transform: uppercase;
}


input {
   width: 100%;
   border: 1px solid black;
}

#contact-sections h2 {
    padding-top: 30px;
    padding-bottom: 30px;    
}


#contact-sections h2, h3 {
    padding-left: 30px; 
}



#contact-sections #middle-form form {
    padding-left: 30px;
    padding-right: 30px;
}


div form input {
    font-size: 150%;
    margin-top: 20px;
    border-radius: 4px;
}

div form #message {
    height: 200px;
}


input[type=submit] { /* Credit: Code Institute Tutorial */
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div #submit {
    float: right;
}



/*--------------------Footer------------------*/

body footer {  
    height: 75px;
}


body footer #top { 
    width: 98%;
    position: fixed;
    bottom: 0;
}

body footer #bottom { 
    width: 98%;
    position: fixed;
    bottom: 0;
}



#top #footer-left {
    width: 33%;
    float: left;
}

#top #footer-right {
    width: 33%;
    float: right;
}


#top #footer-middle {
    width: 34%;
    margin: 0 auto;
}

footer #top div {
    display: inline-block;
}


footer #social-media {
    float: right; 
}

 

 
#social-media > li {
    display: inline;
}

/* 

footer #social-media {
    clear: both;
    list-style-type: none; 
  float: right;  



}


footer #bottom li {
       
}




footer div p {
 /*  line-height: 75px;  
}
 */